@import "variables";
@import "donate";
@import "header";
@import "footer";


body {
  font-family: 'Roboto', sans-serif;
  margin:0;
  padding:0;
  line-height:1.6;
}


#mainContent {
  margin:100px auto 0 auto;
  width:80%;
  display:grid;
  grid-template-columns: 20% 60% 20%;
  font-size:18px;
  @media #{$iPads} {
    display:block;
  }
  @media #{$mobile} {
    width:100%;
    display:block;
  }


  #text {
    grid-column: 2/3;
    grid-row:1/2;
    @media #{$iPads} {
      margin-top:100px;
    }
    @media #{$mobile} {
      margin-top:100px;
    }
  }




  h3 {
    width:50%;
    grid-column: 1/2;
    grid-row:1/2;
    @media #{$iPads} {
      width:100%;
    }
    @media #{$mobile} {
      width:100%;
    }
  }

  p {
    margin:15px auto;
  }


  h5 {
    grid-row:1/2;
    grid-column: 3/4;
    font-weight: 400;
    margin-left: 100px;
    @media #{$iPads} {
      margin-left: 0;
    }
    @media #{$mobile} {
      margin-left: 0;
    }
  }
}

#graphics  {
  display:flex;
  height:100%;
  margin:100px auto 0 auto;

  //grid-column:1/-1;

  img {
    max-width:1200px;
    align-self: center;
    margin:auto;
    width:100%;
  }
}






/*---------- button -------*/
#arrow-down {
  background-color: rgba(225, 225, 225, 0.5);
  cursor:pointer;
  text-align: center;
  //margin: 8% 0;
  @media(max-width:800px){
    display:none;
  }
}

.bounce {
  -moz-animation: bounce 2s infinite;
  -webkit-animation: bounce 2s infinite;
  animation: bounce 2s infinite;
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}


